@font-face {
    font-family: 'CashewCream';
    src: url('../fonts/CashewCream.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GothamRounded', sans-serif;
    scroll-behavior: smooth;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.section-1 {
    background: url('../img/BG/BG1\ có\ chữu.png') no-repeat bottom center/cover;
}

.section-2 {
    background: url('../img/BG/BG2\ có\ chữu.png') no-repeat top center/cover;
}

.section-3 {
    background: url('../img/BG/BG3.png') no-repeat center center/cover;
}
